<!-- game_over.html -->
{% if game.winner %}
    <h1>The winner is {{ game.winner }}!</h1>
{% else %}
    <h1>It's a tie!</h1>
{% endif %}

<p>
    <a href="{% url 'menu' %}">Back to the menu!</a>
</p>
<form method="post">
    {% csrf_token %}
    <input type="hidden" id="csrf_token" value="{{ csrf_token }}">
</form>

<script>
    // Set flag to false when the window is closed
    window.onbeforeunload = function () {
        window.isWindowClosed = true;
    };

    window.addEventListener('unload', sendEndSessionRequest);

    function sendEndSessionRequest() {
        if (window.isWindowClosed) {
            // Send HTTP request to server
            var csrf_token = document.getElementById('csrf_token').value;
            var xhr = new XMLHttpRequest();
            xhr.open("POST", "/end_session", true);
            xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
            xhr.setRequestHeader("X-CSRFToken", csrf_token);  // Set CSRF token
            xhr.send();
            return null;
        }
    }
</script>