<!-- menu.html -->
<h1>Welcome to Connect Four!</h1>

<p>Please choose an option:</p>

<form method="post">
    {% csrf_token %}
    <input type="submit" name="pvp" value="Play PvP">
    <input type="submit" name="vs_computer" value="Play against the computer">
</form>

<script>
    window.addEventListener("beforeunload", function (event) {
        // Send HTTP request to server
        var xhr = new XMLHttpRequest();
        xhr.open("POST", "/end_session", true);
        xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
        xhr.setRequestHeader("X-CSRFToken", csrf_token);  // Set CSRF token
        xhr.send();
    });
</script>


