<!-- play.html -->
{% load static %}

<style>
    table {
        border-collapse: collapse;
    }

    td {
        width: 50px;
        height: 50px;
        border: 1px solid #ccc;
        text-align: center;
    }
</style>

<!-- display current player -->
<p>Current player: {% if player == 'R' %}Red{% else %}Yellow{% endif %}</p>

<form method="post" id="form">
    {% csrf_token %}
    <!-- i want to be able to determine each coins position in the table and i want to be able to click the columns
    to drop the coin in the table -->
    <!-- if 'Y' then yellow.png etc etc-->
    <table>
        {% for row in game.board %}
            <tr>
                {% for coin in row %}
                    {% if coin == 'R' %}
                        <td><img src="{% static 'red.png' %}" width="30" height="30" onclick="selectColumn(this)"></td>
                    {% elif coin == 'Y' %}
                        <td><img src="{% static 'yellow.png' %}" width="30" height="30" onclick="selectColumn(this)">
                        </td>
                    {% else %}
                        <td><img src="{% static 'empty.png' %}" width="30" height="30" onclick="selectColumn(this)">
                        </td>
                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
</form>
`

<!-- button for leaving game -->
<form action="{% url 'menu' %}" method="post">
    {% csrf_token %}
    <input type="submit" value="Leave Game">
</form>


<script>
    function selectColumn(coin) {
        var column = coin.parentNode.cellIndex;
        console.log(column);
        var form = document.getElementById("form");
        var columnInput = document.createElement("input");
        columnInput.type = "hidden";
        columnInput.name = "column";
        columnInput.value = column;
        form.appendChild(columnInput);
        form.submit();
    }
</script>

<script>
    window.addEventListener("beforeunload", function (event) {
        // Send HTTP request to server
        var xhr = new XMLHttpRequest();
        xhr.open("POST", "/end_session", true);
        xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
        xhr.setRequestHeader("X-CSRFToken", csrf_token);  // Set CSRF token
        xhr.send();
    });

</script>
